@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --color-main: #FFFFFF;
  --color-sec:#155DFC;
  --color-third: #0D9488;
  --color-acc-white: rgb(204 221 255 / 0.78);
  --color-txt-main: #333333;
  --color-txt-sec: #7A7A7A;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply p-0 m-0 box-border scroll-smooth;
  }
  html {
    @apply overflow-x-hidden flex w-full justify-center;
  }
  body {
    @apply bg-main w-full flex flex-col items-center;
  }
  header,section,footer{
    @apply w-full flex justify-center;
  }
  .cmn-wrapper {
    @apply max-w-285 w-full;
  }
  header .inner{
    @apply w-full
  }

  .nav-links-wrap ul li a{
    @apply flex items-center gap-[0.3em] hover:text-sec transition-colors text-base text-txt-main font-normal;
  }

  /* ** Top Bar Styles ** */
  .top-bar{
    @apply flex justify-center bg-sec;
  }
  .top-bar .cmn-wrapper{
    @apply flex items-center justify-between py-3;
  }
  .contact-info{
    @apply flex items-center justify-center gap-3;
  }
  .contact-info a{
    @apply flex items-center justify-center gap-1;
  }
  .contact-info a,.contact-info span{
    @apply text-base/7 text-main;
  }
  .utility-links{
    @apply flex gap-2 text-main items-center text-base;
  }
  .nav-links ul li a{
    @apply text-base text-main;
  }
  .nav-links ul li a::after {
    content: '';
    @apply absolute bottom-0 left-1/2 right-1/2 h-0.5 bg-blue-500;
    transition: left 0.25s ease, right 0.25s ease;
  }

  .nav-links ul li a:hover{
    @apply text-blue-400;
  }
  .nav-cta{
    @apply flex items-center gap-1 text-sm font-medium focus:outline-none;
  }
/*  main nav*/
  .main-nav{
    @apply flex items-center justify-center py-2;
  }
  .nav.inner{
    @apply flex items-center justify-between;
  }
  .logo-wrap{
    @apply flex items-center justify-center gap-2 text-[28px] font-semibold font-poppins leading-tight text-third;
    img{
      @apply  w-9 h-auto object-contain object-center ;
    }
  }
  .nav-links-wrap{
    @apply flex items-center gap-8;
  }
  .nav-links-wrap ul{
    @apply flex items-center gap-4;
  }
  .nav-links-wrap ul li a{
    @apply font-semibold font-inter text-base/6 flex justify-center items-center gap-1;
  }

  .primary-btn{
    @apply bg-sec px-4 py-2 text-base font-medium focus:outline-none rounded-full flex items-center justify-center gap-1 text-main;
  }
  .secondary-btn{
    @apply bg-main px-4 py-2 text-base font-medium focus:outline-none rounded-full flex items-center justify-center gap-1 text-sec;
  }

}
